/*gerais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Inter, serif;
    font-weight: bold;
}

:root {
    --bg-color1: #222e5a;
    --bg-color2: #ff5900;
    --bg-color3: #fff;
}

.conteiner {
    width: 100%;
}

.conteiner_conteudo {
    width: 80vw;
    margin: auto;
}

button {
    background-color: var(--bg-color1);
    color: var(--bg-color2);
    text-align: center;
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 60%;
}
 button a{
  text-decoration: none;
     color: #ff5900;
 }
.button_cadastro {
    text-align: center;
    margin-top: 20px;
}

.fm h1 {
    font-size: 1.7rem;
}

.sb {
    border-bottom: 0;
    margin-bottom: 0;
}

.sm {
    margin-top: 0;
}

.menu_mobile_seta img {
    width: 45px;
    object-fit: contain;
    border-radius: 100px;
    margin-left: 30px;
}

header {
    padding: 10px 0 10px 0;
    background-color: var(--bg-color1);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu_area {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 6vh 94vh;
    align-items: flex-start;
    justify-items: center;
    width: 100%;
    height: 6vh;
    overflow: hidden;
    transition: all 1s ease;
}

.menu {
    width: 100%;
}

.text_menu {
    width: 100%;
    text-align: center;
}

.text_stardescontos {
    margin-top: 20px;
    color: var(--bg-color1);
    text-align: justify;
    line-height: 36px;
}

.text_menu h1 {
    color: var(--bg-color2);
    font-size: 2rem;
}

@media (min-width:768px) and (max-width:1024px) {
    .fm h1 {
        font-size: 1.5rem;
    }

    .menu_area {
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 6vh 94vh;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 6vh;
        overflow: hidden;
        transition: all 1s ease;
    }

    .text_stardescontos {
        margin-top: 20px;
        color: var(--bg-color1);
        text-align: justify;
        line-height: 23px;
    }

    .text_stardescontos p {
        font-size: 1rem;
    }
}

@media (min-width:425px) and (max-width:767px) {
    .fm h1 {
        font-size: 1rem;
    }

    .menu_area {
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 6vh 94vh;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 6vh;
        overflow: hidden;
        transition: all 1s ease;
    }

    .text_stardescontos {
        margin-top: 20px;
        color: var(--bg-color1);
        text-align: justify;
        line-height: 23px;
    }

    .text_stardescontos p {
        font-size: 1rem;
    }
}

@media (min-width:320px) and (max-width:424px) {
    .fm h1 {
        font-size: 1rem;
    }

    .menu_area {
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 6vh 94vh;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 6vh;
        overflow: hidden;
        transition: all 1s ease;
    }

    .text_stardescontos {
        margin-top: 20px;
        color: var(--bg-color1);
        text-align: justify;
        line-height: 23px;
    }

    .text_stardescontos p {
        font-size: 0.8rem;
    }
}

@media (max-width:319px) {
    .fm h1 {
        font-size: 1rem;
    }

    .menu_area {
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 6vh 94vh;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 6vh;
        overflow: hidden;
        transition: all 1s ease;
    }

    .text_stardescontos {
        margin-top: 20px;
        color: var(--bg-color1);
        text-align: justify;
        line-height: 23px;
    }

    .text_stardescontos p {
        font-size: 0.6rem;
    }
}
